meta(charset="utf-8")
meta(name="author", content="Arseny Poga")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
title= title
