
# Created by https://www.gitignore.io/api/node,sass,windows

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Dependency directories
jspm_packages

# Optional npm cache directory
.npm

### Sass ###
.sass-cache/
*.css.map
# resources
node_modules
### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db
